.nopageCover{
    width:100%;
    height: 80vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}


.nopageText{
    font-size: 3rem;
    font-weight: bolder;

}